@import 'normalize.css';
@import 'fonts.css';

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(0deg, transparent, #050c13),
        linear-gradient(transparent, transparent),
        linear-gradient(#004350, #000, #000911);
    color: #f2f2f2;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    padding-left: calc((100vw - 1200px) / 2);
    padding-right: calc((100vw - 1200px) / 2);
}

@media screen and (max-width: 1200px) {
    .wrapper {
        padding-left: 25px;
        padding-right: 25px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    line-height: revert;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Exo 2.0', sans-serif;
    color: #ffff;
    font-weight: 900;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

p {
    line-height: 150%;
}

a {
    color: #eee;
    text-underline-offset: 5px;
}

img {
    max-width: 100%;
}

p {
    font-weight: 100;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* header ---------------- */

header {
    padding: 20px 25px 15px;
    border-bottom: 1px solid #1b1b1b;
    background: #050c13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.09rem;
    font-weight: 100;
}

header h1 em {
    font-weight: 100;
}

header h1 strong {
    font-weight: 900;
}

header h1 a {
    text-decoration: none;
}

header nav {
    display: flex;
    gap: 20px;
    font-size: 0.9rem;
}

header nav a {
    text-decoration: none;
    transition: color 0.15s ease;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}

header nav a.active,
header nav a:hover {
    border-color: #ffffff;
}

header nav a em {
    font-weight: 100;
}

/* main --------------------- */

main {
    flex: 1;
}

/* footer ------------------- */

footer {
    background: #f5f8ff;
    color: #333;
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    position: relative;
}

footer #footer-markup-logo {
    position: absolute;
    top: 60px;
    opacity: 0.4;
}

footer a {
    color: #555;
}

footer h4 {
    color: #222;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

footer .learning-resources,
footer .about-bfs {
    width: 25%;
}

@media screen and (max-width: 1024px) {
    footer .learning-resources,
    footer .about-bfs {
        width: 30%;
    }
}

@media screen and (max-width: 760px) {
    footer .learning-resources,
    footer .about-bfs {
        width: 45%;
    }
}

@media screen and (max-width: 560px) {
    footer .learning-resources,
    footer .about-bfs {
        width: 100%;
    }
}

footer .learning-resources li,
footer .about-bfs li {
    padding: 8px 0;
    font-size: 0.9rem;
    font-weight: 300;
}

footer .learning-resources li a:hover,
footer .about-bfs li a:hover {
    color: #002b4b;
}

footer address {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

footer .copyright {
    width: 45%;
    color: #555;
    text-align: right;
    margin-top: 15px;
}

@media screen and (max-width: 1024px) {
    footer .copyright {
        width: 33%;
    }
}

@media screen and (max-width: 760px) {
    footer .copyright {
        width: 100%;
        text-align: left;
        margin-top: 30px;
    }
}

footer .copyright img {
    height: 30px;
    width: auto;
}

/* .code-snippet ------------------- */

.code-snippet {
    background: #0d1117;
    padding: 15px;
    border-radius: 3px;
    position: relative;
    border: 1px solid #101617;
    margin: 5px 0 15px;
}

.code-snippet .label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background: #92c5ee;
    color: #000;
    font-size: 0.7rem;
    letter-spacing: 0.06rem;
    text-transform: capitalize;
    opacity: 0.4;
}

.code-snippet:hover .label {
    opacity: 1;
}

.code-snippet .label.javascript {
    background: #d2ae1e;
}

.code-snippet .label.typescript {
    background: #496cff;
}

.code-snippet .label.css {
    background: #2680c7;
}

.code-snippet .label.html {
    background: #23bf67;
}

.code-snippet .content {
    overflow: auto;
}

.code-snippet pre {
    margin: 0;
    font-size: 14px;
    display: inline-flex;
}

.code-snippet pre code {
    line-height: 130%;
}

.code-snippet .code-copy-btn {
    all: unset;
    padding: 3px 12px;
    background: #151515;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius: 5px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.code-snippet .code-copy-btn:hover {
    background: #92c5ee;
    color: #222;
}

.code-snippet .code-copy-btn.copied {
    background: #b6fffe;
    color: #222;
}
