@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open-sans/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2.0';
  src: url("../assets/fonts/exo-2/Exo2.0-Light.otf") format("otf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2.0';
  src: url("../assets/fonts/exo-2/Exo2.0-Medium.otf") format("otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2.0';
  src: url("../assets/fonts/exo-2/Exo2.0-Regular.otf") format("otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2.0';
  src: url("../assets/fonts/exo-2/Exo2.0-SemiBold.otf") format("otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Exo 2.0';
  src: url("../assets/fonts/exo-2/Exo2.0-ExtraBold.otf") format("otf");
  font-weight: 900;
  font-style: normal; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(0deg, transparent, #050c13), linear-gradient(transparent, transparent), linear-gradient(#000, #000, #000911);
  color: #f2f2f2;
  letter-spacing: 0.05rem; }

*, *::before, *::after {
  box-sizing: border-box; }

.wrapper {
  padding-left: calc((100vw - 1024px) / 2);
  padding-right: calc((100vw - 1024px) / 2); }
  @media screen and (max-width: 1024px) {
    .wrapper {
      padding-left: 25px;
      padding-right: 25px; } }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  line-height: revert; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2.0", sans-serif;
  color: #ffff;
  font-weight: 900; }

p {
  line-height: 150%; }

a {
  color: #eee;
  text-decoration: none; }

.btn {
  display: inline-flex;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background: #fff;
  color: #222;
  border-radius: 3px;
  cursor: pointer; }
  .btn.outline {
    background: none;
    color: #fff;
    border: 1px solid #fff; }

p {
  font-weight: 100; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.code-snippet {
  background: #161a1c;
  padding: 20px 5px 20px 10px;
  border-radius: 3px;
  margin: 5px 0; }
  .code-snippet pre {
    margin: 0;
    text-wrap: wrap;
    word-break: break-word;
    font-size: 14px;
    line-height: 135%; }
    .code-snippet pre code {
      line-height: 130%; }

header {
  padding: 20px 25px 15px;
  border-bottom: 1px solid #1b1b1b;
  background: #050c13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10; }
  header h1 {
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.09rem;
    font-weight: 100; }
    header h1 em {
      font-weight: 100; }
    header h1 strong {
      font-weight: 900; }
    header h1 a {
      text-decoration: none; }
  header nav {
    display: flex;
    gap: 20px;
    font-size: 0.9rem; }
    header nav a {
      text-decoration: none;
      transition: color 0.15s ease;
      font-weight: 900; }
      header nav a em {
        font-weight: 100; }

footer {
  background: #fff;
  color: #333;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap; }
  footer a {
    color: #555; }
  footer h5 {
    color: #222;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px; }
  footer .learning-resources,
  footer .about-bfs {
    width: 25%; }
    @media screen and (max-width: 1024px) {
      footer .learning-resources,
      footer .about-bfs {
        width: 30%; } }
    @media screen and (max-width: 760px) {
      footer .learning-resources,
      footer .about-bfs {
        width: 45%; } }
    @media screen and (max-width: 560px) {
      footer .learning-resources,
      footer .about-bfs {
        width: 100%; } }
    footer .learning-resources li,
    footer .about-bfs li {
      padding: 8px 0;
      font-size: 0.9rem;
      font-weight: 300; }
      footer .learning-resources li a:hover,
      footer .about-bfs li a:hover {
        color: #002b4b; }
      footer .learning-resources li address,
      footer .about-bfs li address {
        margin-top: 20px;
        display: flex;
        gap: 15px; }
  footer .copyright {
    width: 45%;
    color: #555;
    text-align: right; }
    @media screen and (max-width: 1024px) {
      footer .copyright {
        width: 33%; } }
    @media screen and (max-width: 760px) {
      footer .copyright {
        width: 100%;
        text-align: left;
        margin-top: 30px; } }
    footer .copyright img {
      height: 30px;
      width: auto; }
