.docs {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px; }
  .docs .docs-list {
    width: 250px;
    min-width: 250px;
    font-size: 1rem;
    font-family: "Exo 2.0", sans-serif; }
    .docs .docs-list > li {
      padding-bottom: 30px;
      padding-left: 5px; }
      .docs .docs-list > li span {
        font-size: 1.2rem;
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
        color: #fff; }
    .docs .docs-list ul li {
      padding: 3px 5px 5px 10px;
      margin: 5px 0; }
      .docs .docs-list ul li a {
        color: #bbb;
        font-weight: 300;
        letter-spacing: 0.09rem; }
      .docs .docs-list ul li:hover, .docs .docs-list ul li.active {
        background: #00274b; }
        .docs .docs-list ul li:hover a, .docs .docs-list ul li.active a {
          color: #fff; }
  .docs article {
    flex: 1;
    padding-left: 45px;
    font-weight: 100;
    color: #ccc; }
    .docs article h2 {
      font-weight: 300;
      font-size: 2.6rem;
      margin-bottom: 15px; }
    .docs article h3 {
      font-weight: 500;
      font-size: 1.8rem;
      margin: 30px 0 15px; }
    .docs article h4 {
      font-weight: 300;
      font-size: 1.2rem;
      margin: 35px 0 20px; }
    .docs article p {
      margin: 20px 0 10px; }
    .docs article a {
      color: #0074D9;
      border-bottom: 1px solid #013c6f;
      font-weight: 500; }
      .docs article a:hover {
        color: #078cff; }
    .docs article .heading {
      scroll-margin: 60px; }
      .docs article .heading a {
        text-decoration: none;
        color: #ccc;
        border: none;
        position: relative; }
        .docs article .heading a::before {
          content: '#';
          color: #777;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(calc(-100% - 5px), -50%);
          font-size: 80%;
          display: none; }
        .docs article .heading a:hover::before {
          display: inline-block; }
    .docs article ul, .docs article ol {
      margin: 20px 0;
      list-style: circle;
      padding-left: 15px; }
      .docs article ul li, .docs article ol li {
        margin: 15px 0;
        line-height: 150%; }
    .docs article strong {
      font-weight: 500; }
    .docs article code {
      background: #161a1c;
      display: inline-block;
      padding: 3px 8px;
      border-radius: 2px;
      line-height: 120%; }
    .docs article details summary {
      font-family: "Exo 2.0", sans-serif;
      font-weight: 500;
      font-size: 1.8rem;
      margin: 30px 0 15px;
      cursor: pointer; }
    .docs article dl dt {
      font-size: 1.2rem;
      font-family: "Exo 2.0", sans-serif;
      margin-bottom: 10px;
      font-weight: 500; }
    .docs article dl dd {
      margin: 0 0 25px 10px;
      line-height: 150%; }

.content-player .current-content {
  display: none;
  scroll-margin: 60px; }

.content-player .current-content:target {
  display: block; }
