.docs {
  display: flex;
  padding-top: 50px;
  padding-bottom: 80px; }
  .docs .docs-list {
    width: 250px;
    font-size: 1rem;
    font-family: "Exo 2.0", sans-serif; }
    .docs .docs-list > li {
      padding-bottom: 30px;
      padding-left: 5px; }
      .docs .docs-list > li span {
        font-size: 1.2rem;
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
        color: #fff; }
    .docs .docs-list ul li {
      padding: 3px 5px 3px 10px;
      margin: 5px 0; }
      .docs .docs-list ul li a {
        color: #bbb;
        font-weight: 300;
        letter-spacing: 0.09rem; }
      .docs .docs-list ul li:hover, .docs .docs-list ul li.active {
        background: #00274b; }
        .docs .docs-list ul li:hover a, .docs .docs-list ul li.active a {
          color: #fff; }
  .docs article {
    flex: 1;
    padding: 0 0 50px 45px; }
    .docs article h2 {
      font-weight: 300;
      font-size: 2.6rem; }
    .docs article h3 {
      font-weight: 500;
      font-size: 1.8rem; }
    .docs article h4 {
      font-weight: 300;
      font-size: 1.6rem; }
