.banner {
  padding: 100px 0 50px;
  text-align: center; }
  @media screen and (max-width: 680px) {
    .banner {
      text-align: left; } }
  .banner h2 {
    font-size: 3rem;
    margin: 0 0 5px;
    padding: 15px 0 5px; }
  .banner p {
    margin: 0; }
  .banner .actions {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 50px 0; }
    @media screen and (max-width: 680px) {
      .banner .actions {
        justify-content: flex-start; } }

.why {
  padding: 80px 0; }
  .why h2 {
    font-size: 1.4rem;
    font-weight: 500; }
  .why > p {
    width: 75%; }
    @media screen and (max-width: 680px) {
      .why > p {
        width: 100%; } }
  .why .reason-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px; }
    @media screen and (max-width: 680px) {
      .why .reason-list {
        gap: 30px 0; } }
    .why .reason-list .reason-border {
      flex: 30%;
      padding: 1px;
      border-radius: 8px;
      background: linear-gradient(134deg, transparent, transparent, #454545); }
      @media screen and (max-width: 1024px) {
        .why .reason-list .reason-border {
          flex: 45%; } }
      @media screen and (max-width: 680px) {
        .why .reason-list .reason-border {
          flex: 100%; } }
    .why .reason-list .reason {
      background: linear-gradient(320deg, #000b0e, #101618);
      padding: 25px;
      border-radius: 8px;
      width: 100%;
      height: 100%; }
      .why .reason-list .reason h3 {
        font-size: 1.6rem;
        font-weight: 300; }
      .why .reason-list .reason p {
        line-height: 150%; }
      .why .reason-list .reason img {
        width: 70px;
        float: left;
        shape-outside: circle(50%);
        margin: 0 30px 15px 0; }
      .why .reason-list .reason ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .why .reason-list .reason ul li {
          padding: 5px;
          font-style: italic;
          font-weight: 100; }
          .why .reason-list .reason ul li strong {
            font-weight: 800; }

.what-to-build {
  background: #000b0e;
  padding-top: 50px;
  padding-bottom: 50px; }
