@import 'fonts';
@import 'normalize';

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(0deg, transparent, #050c13),
        linear-gradient(transparent, transparent),
        linear-gradient(#000, #000, #000911);
    color: #f2f2f2;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    padding-left: calc((100vw - 1024px) / 2);
    padding-right: calc((100vw - 1024px) / 2);

    @media screen and (max-width: 1024px) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    line-height: revert;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Exo 2.0', sans-serif;
    color: #ffff;
    font-weight: 900;
}

p {
    line-height: 150%;
}

a {
    color: #eee;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.btn {
    display: inline-flex;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    background: #d2ecff;
    color: #000;
    border-radius: 3px;
    cursor: pointer;

    &.outline {
        background: none;
        color: #d2ecff;
        border: 1px solid #d2ecff;
    }
}

p {
    font-weight: 100;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.code-snippet {
    background: #0d1112;
    padding: 15px 5px 15px 10px;
    border-radius: 3px;
    position: relative;
    border: 1px solid #101617;
    margin: 5px 0 15px;

    .content {
        overflow: auto;
    }

    pre {
        margin: 0;
        font-size: 14px;
        line-height: 135%;

        code {
            line-height: 130%;
        }
    }

    .code-copy-btn {
        all: unset;
        padding: 3px 12px;
        background: #151515;
        position: absolute;
        right: 0;
        bottom: 0;
        border-top-left-radius: 5px;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        cursor: pointer;

        &:hover {
            background: #92c5ee;
            color: #222;
        }

        &.copied {
            background: #b6fffe;
            color: #222;
        }
    }

    .hljs {
        background: none !important;
    }
}

header {
    padding: 20px 25px 15px;
    border-bottom: 1px solid #1b1b1b;
    background: #050c13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;

    h1 {
        margin: 0;
        font-size: 16px;
        letter-spacing: 0.09rem;
        font-weight: 100;

        em {
            font-weight: 100;
        }

        strong {
            font-weight: 900;
        }

        a {
            text-decoration: none;
        }
    }

    nav {
        display: flex;
        gap: 20px;
        font-size: 0.9rem;

        a {
            text-decoration: none;
            transition: color 0.15s ease;
            font-weight: 900;

            em {
                font-weight: 100;
            }
        }
    }
}

main {
    flex: 1;
}

footer {
    background: #f5f8ff;
    color: #333;
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    position: relative;

    #footer-markup-logo {
        position: absolute;
        top: 60px;
        opacity: 0.4;
    }

    a {
        color: #555;
    }

    h4 {
        color: #222;
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .learning-resources,
    .about-bfs {
        width: 25%;

        @media screen and (max-width: 1024px) {
            width: 30%;
        }

        @media screen and (max-width: 760px) {
            width: 45%;
        }

        @media screen and (max-width: 560px) {
            width: 100%;
        }

        li {
            padding: 8px 0;
            font-size: 0.9rem;
            font-weight: 300;

            a {
                &:hover {
                    color: #002b4b;
                }
            }

            address {
                margin-top: 20px;
                display: flex;
                gap: 15px;
            }
        }
    }

    .copyright {
        width: 45%;
        color: #555;
        text-align: right;
        margin-top: 15px;

        @media screen and (max-width: 1024px) {
            width: 33%;
        }

        @media screen and (max-width: 760px) {
            width: 100%;
            text-align: left;
            margin-top: 30px;
        }

        img {
            height: 30px;
            width: auto;
        }
    }
}
