// Open Sans

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src:url('../assets/fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


// Exo 2

@font-face {
    font-family: 'Exo 2.0';
    src: url('../assets/fonts/exo-2/Exo2.0-Light.otf') format('otf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('../assets/fonts/exo-2/Exo2.0-Medium.otf') format('otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('../assets/fonts/exo-2/Exo2.0-Regular.otf') format('otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('../assets/fonts/exo-2/Exo2.0-SemiBold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('../assets/fonts/exo-2/Exo2.0-ExtraBold.otf') format('otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
