.docs {
  display: flex;
  padding-top: 50px;
  padding-bottom: 80px;
  
  .docs-list {
    width: 250px;
    min-width: 250px;
    font-size: 1rem;
    font-family: "Exo 2.0", sans-serif;
    
    & > li {
      padding-bottom: 30px;
      padding-left: 5px;
      
      span {
        font-size: 1.2rem;
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
        color: #fff;
      }
    }
    
    ul li {
      padding: 3px 5px 3px 10px;
      margin: 5px 0;
      
      a {
        color: #bbb;
        font-weight: 300;
        letter-spacing: 0.09rem;
      }
      
      &:hover, &.active {
        background: #00274b;
        
        a {
          color: #fff;
        }
      }
    }
  }
  
  article {
    flex: 1;
    padding: 0 0 50px 45px;
    font-weight: 100;
    
    h2 {
      font-weight: 300;
      font-size: 2.6rem;
      margin-bottom: 15px;
    }
    
    h3 {
      font-weight: 500;
      font-size: 1.8rem;
      margin: 30px 0 15px;
    }
    
    h4 {
      font-weight: 300;
      font-size: 1.2rem;
      margin: 35px 0 20px;
    }
    
    p {
      margin: 20px 0 10px;
    }
    
    a {
      color: #0074D9;
      border-bottom: 1px solid #013c6f;
      font-weight: 500;
      
      &:hover {
        color: #078cff;
      }
    }
    
    .heading a {
      text-decoration: none;
      color: #fff;
      border: none;
      position: relative;
      
      &::before {
        content: '#';
        color: #777;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(calc(-100% - 5px), -50%);
        font-size: 80%;
        display: none;
      }
      
      &:hover::before {
        display: inline-block;
      }
    }
    
    ul {
      margin: 20px 0;
      list-style: circle;
      padding-left: 15px;
      
      li {
        margin: 15px 0;
        line-height: 150%;
      }
    }
    
    strong {
      font-weight: 500;
    }
    
    code {
      background: #161a1c;
      display: inline-block;
      padding: 3px 8px;
      border-radius: 2px;
      line-height: 100%;
    }
    
    details {
      summary {
        font-family: "Exo 2.0", sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        margin: 30px 0 15px;
        cursor: pointer;
      }
    }
    
    dl {
      dt {
        font-size: 1.2rem;
        font-family: "Exo 2.0", sans-serif;
        margin-bottom: 10px;
        font-weight: 500;
      }
      
      dd {
        margin: 0 0 25px 10px;
        line-height: 150%;
      }
    }
  }
}
